In [1]:
import win32com.client as win32
import pandas as pd

In [4]:
hwp = win32.gencache.EnsureDispatch("HWPFrame.HwpObject")

In [5]:
hwp.XHwpWindows.Item(0).Visible = True

In [7]:
hwp.Open(r"C:\Users\jjc\Desktop\학과심사_평가집계표_서식.hwpx")

True

In [9]:
df = pd.read_excel(r"C:\Users\jjc\Desktop\학생명단.xlsx")

In [15]:
# df에서 학과가 "국어국문학과"인 행만 추출
df[(df["지망학과"] == "국어국문학과") & (df["전형구분"] == "석사(Master)")]

        수험번호        전형구분    지망학과                성명
0  123400002  석사(Master)  국어국문학과  Zachary Santiago
1  123400012  석사(Master)  국어국문학과     Marcus Keller
2  123400022  석사(Master)  국어국문학과        Jared Robe
3  123400032  석사(Master)  국어국문학과  Christine Hebert
4  123400042  석사(Master)  국어국문학과      Alex Salazar
5  123400052  석사(Master)  국어국문학과         Janet Orr